body{
    font-family: Arial;
}

h1 {
    text-align: center;
}

#content {
    margin: 0 auto;
    max-width: 768px;
}

#chat {
    height: 600px;
    overflow-y: scroll;
}

.message-text {
    float: left;
    max-width: 256px;
    word-wrap: break-word;
    background-color: #c7c7c7;
    padding: 8px;
    border-radius: 0px 8px 8px 8px;
}

.message-user {
    float: left;
    display: block;
}

.message-user::after {
    float: left;
    content: ":";
}


.selfmessage .message-user {
    float: right;
}

.selfmessage .message-text {
    float: right;
    background-color: #effdde;
    padding: 8px;
    border-radius: 8px 9px 8px 8px;
}

input[type=text]{
    float: left;
    width: 90%;
    height: 72px;
}

input[type=submit] {
    /*margin-top: 20px;*/
    padding: 30px;
}
