body{
    font-family: Arial;
}

h1 {
    text-align: center;
}
strong {
    display: block;
}

#content {
    margin: 0 250px 0 250px;
    border: solid black 1px;
}

#chat {
    height: 600px;
    overflow-y: scroll;
}

em {
    display: block;
    background-color: #c7c7c7;
    padding: 8px;
    border-radius: 0px 8px 8px 8px;
    padding-left: 4px;
}

#me {
    background-color: #9d9;
}

input[type=text]{
    float: left;
    width: 90%;
    height: 72px;
}

input[type=submit] {
    /*margin-top: 20px;*/
    padding: 30px;
}
