body{
    font-family: Arial;
}

h1 {
    text-align: center;
}

#content {
    margin: 0 250px 0 250px;
}

#chat {
    height: 600px;
    overflow-y: scroll;
}

.message-text {
    display: block;
    max-width: 300px;
    word-wrap: break-word;
    background-color: #c7c7c7;
    padding: 8px;
    border-radius: 0px 8px 8px 8px;
    padding-left: 4px;
}

.selfmessage {
    float:right;
    text-align: right;
}

.selfmessage .message-user {
    background-color: #9d9;
    text-align: right;
    border-radius: 8px 0px 8px 8px;
}

input[type=text]{
    float: left;
    width: 90%;
    height: 72px;
}

input[type=submit] {
    /*margin-top: 20px;*/
    padding: 30px;
}
